.main-buttons{
    margin-left: 10px;
}

.rent-btn{
    background-color: red !important;
}

.star-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .fa-yellow {
    color: yellow;
  }


  .card-style{
    height:480px !important;
  }
  
img{
  width:auto;
  height:150px;
}

.div-style{
height: 100px !important;
}