table{
    height:400px;
    text-align: center;
    align-items: center;
    font-weight: lighter;
}

.custom-slider{
    width:1000px;
    height:400px;
}

.custom-size{
    width:1000px;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    
}

.custom-div{
    width:800px;
    height:200px;
    text-align: center;
}