






.carvista-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .carvista-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.carvista-app-name {
    margin-left: 8px;
  }
  
  .carvista-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .carvista-is-mobile .carvista-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .avatar{
    width:80px;
    
  }

  .avatar-container{
    width:100px;
  }


  footer{
    height:50px;
  }

  .profile{
    gap:100px;
    margin-left: auto;
    width:70px;
  }

  .header-text{
    margin-left: auto;
    
  }

  .header-text h1{
    font-size:  30px;
    font-weight: bolder;
    color:white;
    letter-spacing: 3px;
  }

  .pointer{
    cursor: pointer;
  }

  .cart{
    width:55px;
  }