<style>
  .error-message {
    color: red;
    margin-bottom: 12px;
    margin-left: 10px;
  }
  mat-error {
    margin-left: 10px;
    font-size : 15px;
    color :red;
  }
</style>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../assets/logo-blue.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div>
          <h1 class="text-primary font-monospace fw-bolder">Car Vista</h1>
          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div *ngIf="errorMessage" class="error-message">
              {{ errorMessage }}
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input [(ngModel)]="forgetobj.email" name="email" type="email" id="email" class="form-control form-control-lg"
                placeholder="Enter a valid Email" required matInput [formControl]="EmailFormControl"
                [errorStateMatcher]="matcher" (focus)="clearError('email')" (blur)="validateField('email')" />
              <mat-error *ngIf="EmailFormControl.hasError('required') && showEmailError">
                Email is required
              </mat-error>
              <mat-error *ngIf="EmailFormControl.hasError('email') && showEmailError">
                Not a valid email format
              </mat-error>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                Send Confirmation Mail
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0"> <a routerLink="/Login" class="link-danger">Back</a></p>
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</section>
